<div class='container text-center'>
  <img src='assets/img/reloj.png' alt='Reloj'/>
  <div class='container'>
  <h3>
      {{ queuedTareas | i18nPlural: queueHeaderMapping }} para hoy
      <span class="small" *ngIf="queuedTareas > 0">(Tiempo estimado:
        {{ queuedTareas * 25 }})</span>
  </h3>
  <h4>Cartera de Tareas</h4>
    <table class='table'>
      <thead>
        <tr>
          <th>ID Tarea</th>
          <th>Nombre Tarea</th>
          <th>Completada Para</th>
          <th>Ciclos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor='let task of VM.Listado; let i = index'>
          <th>{{task.id}}</th>
          <td>{{task.name | slice: 0:35 }}
            <span [hidden]='task.name.length < 35'>...</span>
          </td>
          <td>{{task.deadline | date: 'fullDate' }}
              <br/>
              <span *ngIf="task.deadline < today" class="badge badge-danger">
                Atrasado
              </span>
          </td>
          <td class='text-center'>{{task.tareasRequeridas}}</td>
          <td>
             <button *ngIf="task.tareasRequeridas < 1"
             type='button'
             class='btn btn-success btn-xs'
             (click)='aum(task.id)'>
                <i class="fa fa-plus-circle">
                  Añadir
                </i>
             </button>
             <button *ngIf="task.tareasRequeridas > 0"
              type='button'
              class='btn btn-danger btn-xs'
              (click)='dism(task.id)'>
              <i class="fa fa-minus-circle">
                Quitar
              </i>
             </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>