<div class='container text-center'>
  <img src="assets/img/reloj.png" alt="Reloj"/>
  <div class="container">
  <h3>
    {{ queuedTareas | i18nPlural: queueHeaderMapping }} para hoy
    <span class="small" *ngIf="queuedTareas > 0">(Tiempo estimado:
      {{ queuedTareas * 25 | formatMinToHour }})</span>
  </h3>
  <p>
    <span *ngFor='let task of tasks; let i = index'>
      <task-icons
        [task]="task" [size]='50' [numTareas]='queuedTareas'
        (mouseover)="eventMouseOver(task)"
        (mouseout)="eventMouseOut()">
      </task-icons>
    </span>
  </p>
  <p>{{ salidaTooltip }}</p>
  <h4>Cartera de Tareas</h4>
    <table class='table'>
      <thead>
        <tr>
          <th>ID Tarea</th>
          <th>Nombre Tarea</th>
          <th>Completada Para</th>
          <th>Ciclos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor='let task of tasks; let i = index'>
          <th scope="row">{{task.id}}
            <span *ngIf="task.queued" class="badge badge-info">
              En Cola
            </span>
          </th>
          <td>{{task.name | slice: 0:35 }}
            <span [hidden]='task.name.length < 35'>...</span>
          </td>
          <td>{{task.deadline | date: 'fullDate' }}
              <br/>
              <span *ngIf="task.deadline < today" class="badge badge-danger">
                Atrasado
              </span>
          </td>
          <td class='text-center'>{{task.tareasRequeridas}}</td>
          <td [ngSwitch]="task.queued">
            <button *ngSwitchCase="false"
            type='button'
            class='btn btn-success btn-xs'
            (click)='toggleTask(task.id)'>
               <i class="fa fa-plus-circle">
                 Añadir
               </i>
            </button>
            <button *ngSwitchCase="true"
             type='button'
             class='btn btn-danger btn-xs'
             (click)='toggleTask(task.id)'>
             <i class="fa fa-minus-circle">
               Quitar
             </i>
            </button>
            <button *ngSwitchDefault 
            type='button'
            class='btn btn-success btn-xs'
            (click)='toggleTask(task.id)'>
               <i class="fa fa-plus-circle">
                 Añadir
               </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>